.download__wrapper {
  display: flex;
  gap: 100px;
  padding-bottom: 96px;


  @include media-middle {
    flex-direction: column;
    padding-top: 100px;
    width: 688px;
    flex-direction: column;
    align-items: center;
  }

  @include media-mobile {
    align-items:flex-start;
    gap: 40px;
    width: unset;
  }
}


.dowload__content_left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  max-width: 630px;

  @include media-tablet {
    max-width: unset;
  }
  @include media-mobile {
    max-width: 348px;
  }

}

.download__link svg{
  fill: $color-text-dark;
  transition: 1s ease-in-out;
}

a {
  text-decoration: none;
}

.download-btn__wrapper {
  border: 1px solid $color-border-dark;
  border-radius: 100px;
  display: flex;
  width: 160px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.download__links-container {
  display: flex;
  gap: 20px;

  @include media-mobile {
    flex-direction: column;
  }
}

.dowload__content_right-side {
  @include media-tablet {
    display: flex;
    justify-content: center;
  }
}

.download__img {
  @include media-mobile {
    width: 348px;
  }
}

@media (hover: hover) {
  .download-btn__wrapper:hover {
    background-color: $color-background-container;
    transition: 1s ease-in-out;
  }

  .download-btn__wrapper:hover svg {
    fill: $color-text-light;
    transition: 1s ease-in-out;
  }

  .download-btn__wrapper:hover p {
    color: $color-text-light;
    transition: 1s ease-in-out;
  }
}