.garage {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.garage__settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.garage-title {
    font-family: 'Londrina Shadow', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.car-settings {
    display: flex;
    width: 100%;
}

.change-color {
    width: 100%;
}

.color-input {
    width: 20%;
}

@media screen and (max-width: 620px) {
    .garage-title {
        font-size: 3rem;
    }
}
