* {
    margin: 0;
    padding: 0;
}

.main {
    display: block;
}

body {
    max-width: 100%;
    margin: auto;
    background: url('../app/assets/sky_bg.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
