.button {
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 7.5rem;
  cursor: pointer;
}

.button_log-in {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.button_log-in:hover {
  background-color: #BB945F;
  border-radius: 2px;
  border: 1px solid #BB945F;
  transition: all 0.2s ease-in-out;
}