@media (max-width: 768px) {

  .hamburger__btn {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    flex-direction: column;
    //position: absolute;
  }

  .hamburger__line {
    display: block;
    width: 16px;
    height: 8px;
    cursor: pointer;
    margin-bottom: 2px;
    position: absolute;
    z-index: 1;
  }

  .hamburger span,
  .hamburger::before,
  .hamburger::after  {
    background-color: $color-border-dark;
    position: relative;
    left: 0;
    border-radius: 5px;
    height: 7%;
    width: 80%;
    transition: all 0.4s ease-in-out;

  }

  .hamburger::before,
  .hamburger::after {
    content: "";
  }

  .hamburger::before {
    top: 0;
  }

  .hamburger::after {
    bottom: 0;
  }

  .hamburger span {
    top: 100%;
    transform: scale(0);
  }

  .hamburger_active::after{
    transform: rotate(-45deg) translate(15%, 0%);
  }

  .hamburger_active::before {
    transform: rotate(45deg) translate(20%, 60%);
  }

  .body__lock {
    overflow-y: hidden;
  }

  }