@media (max-width: 768px) {

  .header__hamburger_circle {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .hamburger {
    position: relative;
    display: block;
    width: 16px;
    height: 8px;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .hamburger span,
  .hamburger::before {
    background-color: $color-border-dark;
    position: absolute;
    left: 0;
    border-radius: 5px;
    height: 20%;
    width: 100%;
    transition: all 0.4s ease-in-out;

  }

  .hamburger::before {
    content: "";
    top: 0;

  }

  .hamburger span {
    top: 100%;
    transform: scale(1) translate(0px, -80%);
  }

  .hamburger_active span{
    transform: rotate(-45deg) translate(0px, -80%);

  }

  .hamburger_active::before {
    top: 70%;
    transform: rotate(45deg) translate(0px, 80%);

  }

  }