.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: relative;

  @include media-tablet {
    align-items: center;
  }

  @include media-mobile {
    padding: 20px 16px;

  }
}

.hamburger__btn {
  display: none;
}

.navigation__container {
  display: flex;
  flex: 2;
  padding-left: 20px;


  @include media-tablet {
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 100%;
    gap: 30px;
    background-color: $color-background-body;
    flex-direction: column;
    top: 80px;
    z-index: 2;
    transition: all 1s ease-in-out;
    visibility: hidden;
  }
}

.navigation__container_active {
  @include media-tablet {
    left: 0;
    opacity: 3;
    visibility: visible;

  }
}

.logo__img {
  width: 100px;
}

.navigation__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 17px;

  @include media-tablet {
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    z-index: 3;
    transition: all 1s ease-in-out;
  }
}

.navigation__links li {
  padding-right: 4rem;

  @include media-tablet {
    padding-bottom: 60px;
  }
}


.menu_cont {
  padding-top: 17px;

  @include media-tablet {
   display: flex;
   padding-top: 11px;
   padding-right: 43px;
  }
}

.link_typography {
  position: relative;
  text-decoration: none;
  transition: opacity 0.4s ease-out;
}

.link_typography::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  transform: scaleX(0);
  background-color: $color-border-dark;
  transform-origin: center;
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
  bottom: -5px;
}

.link_typography_active {
  pointer-events: none;

  @include media-tablet {
    pointer-events: all;
    cursor: default;
  }
}

.link_typography_active::after{
  opacity: 3;
  transform: scaleX(1);
  pointer-events: none;
}

@media (hover: hover) {
.link_typography:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
}

.logo {
  display: flex;
  flex: 1;
}

.navigation {
  display: flex;
  flex: 6;

  @include media-tablet {
    display: flex;
    flex: 0;
  }
}


.header__menu {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
  text-decoration: none;

  @include media-tablet{
    gap: 15px;
  }
}


.coffee_cup {
  @include media-tablet {
    width: 40px;
    height: 40px;
  }
}




