.modal-window__overlay {
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: rgba(64, 63, 61, 0.80);
 position: fixed;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100wv;
 opacity: 0;
 visibility: hidden;
}

.modal-window__overlay_active {
  opacity: 1;
  visibility: visible;
}

.modal__content__wrapper {
  background-color: $color-background-body;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  max-width: 800px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;

  @include media-modal {
    max-width: 688px;
  }
  @include media-mobile {
    width: 90%;
  }
}

.modal-window__img_content {
  max-width: 310px;
  max-height: 310px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.modal-window_left-side {
  padding: 16px 0 16px 16px;

  @include media-mobile {
    display: none;
  }
}

.modal-window_right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px 16px 0;

  @include media-mobile {
    padding: 16px 16px 16px 16px;

  }
}

.menu-list__title-modal {
  padding-bottom: 0;
}

.modal-window_right-side__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-window__btns__wrapper {
  display: flex;
  padding-top: 12px;
  gap: 8px;

  @include media-modal {
    flex-wrap: wrap;
  }
}

.modal-window__total {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px $color-border-light;
}

.modal-window__info_warning {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.modal-window__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 438px;
}

.modal-window__info_warning img {
  width: 16px;
  height: 16px;
  padding: 12px 0;

  @include media-modal {
    padding-top: 8px;
  }
}

.modal-window__info-text {
  padding: 12px 0;
  @include media-modal {
    padding-top: 8px;
  }
}

.modal-window_close_btn {
  border-radius: 100px;
  background-color: $color-background-body;
  border: 1px solid $color-border-dark;
  padding: 10px 78px;
  cursor: pointer;
  transition:  1s ease-out;
  margin-top: 10px;
}

@media (hover: hover) {
  .modal-window_close_btn:hover {
    background-color: $color-background-container;
    color: $color-text-light;
    transition:  1s ease-out;
  }
}