body {
  background: #d8bfd8;
}

.body_dark-theme {
  background: #2b5353;
}

.header_div {
  display: flex;
  justify-content: center;
}

.game__title {
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}

.game__title_dark-theme {
  color: darkgoldenrod;
}

.theme__container {
display: flex;
align-items: center;
cursor: pointer;
}

.theme__icon {
  width: 50px;
}

.game__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  gap: 35px;
}

.timer {
  font-size: 30px;
  margin: 0 auto;
}

.timer_dark-theme {
  color: darkgoldenrod;
}

.field__wrapper_common {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
}

.field__center {
  border: 2px solid black;
}

.field__center_dark-theme {
  border: 2px solid darkgoldenrod;
}

.field__horizontal {
  display: flex;
  flex-wrap: wrap;

  &:nth-child(5n) {
    border-bottom: 2px solid black;
  }
}

.field__horizontal_dark-theme {
  &:nth-child(5n) {
    border-bottom: 2px solid darkgoldenrod;
  }
}

.field__cell {
  border: 1px dotted black;
  width: 50px;
  height: 50px;
  padding: 7px;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;

  &:nth-child(5n) {
    border-right: 2px solid black;
  }
}

.field__cell_dark {
  background: dimgrey;
}

.field__cell_dark-theme {
  border: 1px dotted darkgoldenrod;
  &:nth-child(5n) {
    border-right: 2px solid darkgoldenrod;
  }
}

.field__cell_cross {
 background: url('./assets/cross1.svg');
 background-repeat: no-repeat;
 margin: auto;
}

.horizontal-keys {
  display: flex;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  font-size: 25px;
}

.horizontal-keys_dark-theme {
  border-right: 2px solid darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
  border-top: 2px solid darkgoldenrod;
  font-size: 25px;
  color: darkgoldenrod;
}

.key,
.key-top {
  min-width: 50px;
  min-height: 50px;
  padding: 7px;
  line-height: 1.5;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.key-top_dark-theme {
  border: 1px solid darkgoldenrod;
}

.key-left {
  min-width: 50px;
  min-height: 50px;
  padding: 7px;
  line-height: 1.5;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.key-left_dark-theme {
  border: 1px solid darkgoldenrod;
}

.vertical-keys {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  font-size: 25px;
}

.vertical-keys_dark-theme {
  border-bottom: 2px solid darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
  border-top: 2px solid darkgoldenrod;
  color: darkgoldenrod;
}