.game-page__wrapper {
    /* background: url('../../app//assets/puzzle1.jpg'); */
    background-color: brown;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.result-block {
    display: flex;
    width: 60%;
    height: fit-content;
    border: 2px solid black;
    flex-direction: column;
}

.data-source {
    display: flex;
    width: 60%;
    height: 40px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 40px;
    /* border-bottom: 1px solid black; */
    display: flex;
}

.word_div {
    border: 1px solid black;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
}
