.wrapper__login-page {
    /* background: url('../../app/assets/sky_bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center center; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.error-label {
    color: red;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.error {
    outline: 1px solid red;
}
