.login-form__wrapper {
    padding-top: 30px;
}

.game__title {
    color: black;
    text-align: center;
    font-family: Forum;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
}

.login-form__title {
    color: #0c0c0e;
    text-align: center;
    font-family: Forum;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.login__form_text {
    color: #0c0c0e;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.login-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__form_input {
    margin-bottom: 10px;
    width: 210px;
    border: none;
    outline: 1px solid #bb945f;
}

input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.7;
    margin: 0;
}

