* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__container {
  max-width: 900px;
  max-height: 600px;
  border-radius: 10px;
  border: solid 5px #172d80;
  display: flex;
  gap: 50px;
  padding: 20px;
  margin: 20px;
}

.gallow__box {
  margin-left: 20px;
  padding: 12em 0;
  background-repeat: no-repeat;
  background-position: top 80px left 5px;
  background-size: 100%;
  width: 300px;
  transition: 0.5s ease-out;
}

.gallow__box1 {
  position: absolute;
  margin-left: 20px;
  padding: 12em 0;
  background-repeat: no-repeat;
  background-position: top 80px left 5px;
  background-size: 100%;
  width: 300px;
  transition: 0.5s ease-out;
}

.game__title {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 20px 30px;
  color: #3a0861;
  cursor: pointer;
}

.left-side__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.right-side__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  gap: 10px;
}

.guessed__letter {
  width: 25px;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.guessed__word {
  display: flex;
  font-size: 22px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.correct__guesse {
  border-bottom: transparent;
  margin-bottom: 15px;
}

.question__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.guesses__attempts {
  margin-bottom: 20px;
}

.incorrect {
  color: red;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  width: calc(100% / 7 - 5px );
  background-color: #ef1d26;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  outline: none;
  border: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: #f57c71;
}

.btn_inactive {
  opacity: 0.5;
  pointer-events: none;
}

.modal-window {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-window_active {
  opacity: 1;
  pointer-events: auto;
}

.modal-window__content {
  background:  #fff5f6;;
  max-width: 450px;
  width: 100%;
  max-height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
  border-radius: 5px;
}

.modal-window__btn {
  padding: 10px;
  max-width: 100px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #3a0861;
  border-color: #3a0861;
}

.modal-window__btn:hover {
  background-color: #a68eb9;
}

.modal__statement {
  font-size: 1.5rem;
}

.modal__word {
  font-size: 1.3rem;
}